
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.navbar {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 0.2rem;
    background: rgba(0,0,0,0.6) !important;
    padding: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    padding-left: 20px;
}

a:hover {
    background-color: rgb(202, 188, 127);
  }

.profile{
    text-align: center;
    background: rgb(148, 143, 135);
    font-size: 30px;
}

.prof1{
    padding-top: 150px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 10px;
}

.prof1 h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
}

.prof1 p {
    font-size: 1em;
    font-weight: lighter;
    font-family: monospace;

}

.project h3{
    padding: 50px;
    text-align: center;

    
}

.row{
    padding: 50px;
    justify-content: space-evenly;
}


.card h5{
    font-size: 30px;
    font-weight: 700;
}
.card{
    padding: 30px;
    border: 2px solid rgb(20, 19, 19);
    border-radius: 25px;
    box-shadow: 3px 6px;
    margin-bottom: 12px;
}

.about {
    background: rgb(224, 217, 220);
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-weight: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
   
   
}

.aboutme {
    width: 50%;
  
}


.about h3{
    text-align: center;
    padding: 5px;
}

.about1 {
    font-weight: 700;
    font-size: 20px;
}


.edujob h4 {
    font-size: 20px;
    font-weight: 700;
}

span {
    font-weight: bold;
}
.skills h6{
    font-size: 20px;
    font-weight: 700;
}

.Hobbies h6 {
    font-size: 20px;
    font-weight: 700;
}

.contacts h3 {
    text-align: center;
}

.form {
    width: 70%;
 justify-content: center;
 padding: 50px;
}

label {
    margin-bottom: 10px;
}

input{
    margin-bottom: 10px;
}

button {
   margin-top:20px ;
}
.f1 {
    text-align: center;
    padding: 20px;
   color: white;
}



@media screen and (max-width:1200px){
    .aboutme{
        padding: 40px;
    }
}

@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        
    }
    .aboutme{
        width: 100%;
    }
}





